
.homecontainer{
    display:  flex;
    align-items:  flex-start;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    text-align:  center;
    background-color: rgb(24, 24, 36);
}
.homecontainer header{
        flex: 1;
        display : flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        background:  url('./../../public/bg-desktop-dark.jpg') center no-repeat;
        margin-bottom: 3%;
        padding-top: 3%;
        padding-bottom: 15%;
    }
.homecontainer header h1{        
    color : #fafafa;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
}
.homecontainer header img{
    cursor: pointer;
}

.homecontainer form{
    background-color: rgb( 37, 39, 60);
    position: absolute;
    top : 20%;
    padding: 2% 4%;
    width: 50%;
    display :  flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 4%;
    align-items:center;
    /* box-shadow: 0px 1px 1px 2px hsl(233, 14%, 35%); */
}
.homecontainer form input[type = "checkbox"]{
    display: none;
}


.homecontainer .input{
    color: rgb(191, 196, 218);
    width : 80%;
    border: none;
    outline: none;
    margin-left: 10%;
    font-weight: 400;
    font-size: 1.5rem;
    background: transparent;
}

.listtable{
    margin: 3% 0;
    position: absolute;
    top : 30%;
    display :  flex;
    background-color: rgb( 37, 39, 60);
    align-items:  flex-start;
    flex-direction:column;
    width: 50%;
    box-shadow: 2px 2px 10px 2px #181818;
}
.item{
    display :  flex;
    padding: 2.5% 4%;
    color: hsl(234, 39%, 85%);
    text-align: center;
    align-items: center;
    flex-direction:row;
    justify-content: space-between;
    font-size: 1.5rem;
    border-bottom: .5px solid hsl(234, 39%, 85%);
    width: 100%;
}
.item a{
    text-decoration: none;
    cursor : pointer;
}
.item a:hover > img{
    color: hsl(234, 11%, 52%);
}
.item input{
    display : none;
}
.item label, .item label p{
    font-weight: 400;
    text-align: left;
    width : 90%;
    line-height: 35px;
}
.item p:before {
    content : "";
    height: 52px;
    width: 52px;
    padding: 0.1px 12px;
    margin-right: 2%;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb( 46, 48, 69);
}
.item p:hover:before{
    border: 2px solid rgb( 46, 48, 89);
}

.item label input:checked + p:before{
    content: url(/icon/icon-check.svg);
    background-image: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    padding: 1px 8px;
    border: none;
}

.listlink {
    padding: 2%;
    display :  flex;
    flex-direction:row;
    justify-content:space-between;
    width: 100%;
}
.listlink a{
    cursor : pointer;
    font-size: 1rem;
    text-decoration: none;
    color : hsl(233, 14%, 35%);
}
.marcado {
    color: hsl(233, 31%, 54%);
}

@media screen and (max-width : 700px){
    .homecontainer header{
        padding-top: 5%;
        padding-bottom: 50%;
        align-items:center;
    }
    .homecontainer header h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    .homecontainer header img{
        vertical-align: inherit;
    }
    .homecontainer form{
        width: 90%;
        top : 20%;
    }
    .homecontainer .input{
        font-size: 1.5rem;
    }
    .homecontainer .listtable{
        width: 90%;
        top : 30%;
    }
    
    .item label, .item label p{
        font-size: 1.5rem;
        width: 100%;
        word-wrap: break-word;
    }
    .item p:before {
        padding: 1px 13px;
        align-items:center;
        margin-right: 5%;
    }
    .item label input:checked + p:before{
        padding: 1px 8px;
    }
}